{% extends "base.html" %}
{% block main %}
<h1> {{ titre }} </h1>

{% if list != [] %}
  <aside>
    <a href = "{{ url_for('list_albums', page = 1) }}" class = "btn btn-default buttonliste"> Page 1 </a>

    {% if page-50 > 1 %}
    <a href = "{{ url_for('list_albums', page = page-50) }}" class = "btn btn-default buttonliste">-50</a>
    {% endif %}

    {% for i in range(pageMin,page-1) %}
    <a href = "{{ url_for('list_albums', page = i+1) }}" class = "btn btn-default buttonliste">{{i+1}}</a>
    {% endfor %}

    <a href = "{{ url_for('list_albums', page = page) }}" class = "btn btn-info">{{ page }}</a>

    {% for i in range(page,pageMax) %}
    <a href = "{{ url_for('list_albums', page = i+1) }}" class = "btn btn-default buttonliste">{{i+1}}</a>
    {% endfor %}

    {% if page+50 < page_number %}
    <a href = "{{ url_for('list_albums', page = page+50) }}" class = "btn btn-default buttonliste">+50</a>
    {% endif %}

    {% if page+100 < page_number %}
    <a href = "{{ url_for('list_albums', page = page+100) }}" class = "btn btn-default buttonliste">+100</a>
    {% endif %}

  </aside>
  <p> Page {{ page }} :</p>

  {% if page != page_number %}
  {% for i in range(5) %}
  <div class="row">
  {% for j in range(4) %}

  <div class="col-lg-3">
    <div class="row">
      <a href = "{{ url_for('album', id = list[i*4+j].get_id()) }}">
      <img class="img" src="{{ url_for('static', filename = 'imgProjetMusique/'+ list[i*4+j].get_image()) }}" alt="{{ list[i*4+j].get_name() }}"  border="5">
    </div>
    <div class="row">
      <p>{{ list[i*4+j].get_name() }} </p></a>
    </div>
  </div>

  {% endfor %}
  </div>
  {% endfor %}

  {% else %}

  {% for album in list %}

  <div class="col-lg-3">
    <div class="row">
      <a href = "{{ url_for('album', id = album.get_id()) }}">
      <img class="img" src="{{ url_for('static', filename = 'imgProjetMusique/'+ album.get_image()) }}" alt="{{ album.get_name() }}"  border="5">
    </div>
    <div class="row">
      <p> {{ album.get_name() }} </p></a>
    </div>
  </div>

  {% endfor %}

  {% endif %}

{% endif %}
{% endblock %}
