{% extends "base.html" %}
{% block main %}
<h1> {{ author.get_name() }} </h1>
<h2><a href="{{ url_for('edit_author', id = author.get_id()) }}"
       class = "btn btn-default">Modifier</a></h2>
<h2><a href="#popup1"
       class = "btn btn-danger">Supprimer</a></h2>
<ul>
{% for album in albums %}

  <div class="col-lg-3">
    <div class="row">
      <a href = "{{ url_for('album', id = album.get_id()) }}">
      <img class="img" src="{{ url_for('static', filename = 'imgProjetMusique/'+ album.get_image()) }}" alt="{{ album.get_name() }}"  border="5">
      <p> {{ album.get_name() }} </p></a>
    </div>
  </div>

{% endfor %}
</ul>
<div id="popup1" class = "overlay">
    <div class = "popup">
      <h2> Etes-vous sûr de vouloir supprimer cet artiste ? </h2>
      <p> Cette action le supprimera définitivement ainsi
          que tous les albums qu'il a produit. </p>
      <a href="#">
        <button type="button" class="btn btn-default">Annuler</button>
      </a>
      <a href="{{ url_for('delete_author', id=author.get_id()) }}">
        <button type="button" class="btn btn-danger">Supprimer</button>
      </a>
    </div>
</div>
{% endblock %}
