{% extends "base.html" %}
{% block main %}
<h1>{{titre}}</h1>
<form class  = "form-horizontal"
      role = "form"
      method = "POST"
      action = "{{ url_for(form.get_next()) }}">

  {{ form.hidden_tag() }}
  <div class=
       {% if form.name.errors %}
       "form-creation has-errors"
       {% else %}
       "form-creation"
       {% endif %}
       >
    {{ form.name.label }}
    {{ form.name(size = 50,
                 class_ = "form-control") }}
  </div>
{% if form.name.errors %}
<ul class = "list-group">
  {% for e in form.name.errors %}
  <li class="list-group-item list-group-item-danger">{{ e }}</li>
  {% endfor %}
</ul>
{% endif %}
<input class = "btn btn-default"
        type ="submit"
        value = "Enregistrer">
</form>
{% endblock %}
